{% extends 'HotelreserveBundle::main.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ path('fos_user_security_login') }}">ورود</a>
    </div>
{% endblock %}


{#<a href="{{ path('main') }}" header="aaaa" message="bb" class="YesNoMessage btn btn-danger">ccccc</a><br/><br/>#}
{#<form action="{{ path("main") }}" header="aaaa" message="bb" class="YesNoMessage">#}
    {#<input type="submit" value="aa">#}
{#</form>#}