{% extends 'HotelreserveBundle::main.html.twig' %}
{% block stylesheet %}
    <style type="text/css">
        .form {
            margin: 95px auto 0px auto;
            overflow: auto;
            padding-top: 40px;
            direction: rtl;
        }
        form {
            padding:  0 30px;
        }
    </style>
{% endblock %}
{% block title %} <title>ورود به سیستم رزرواسیون هتل</title>{% endblock %}
{% block body %}
    <div class="form" style="background-color: #a9302a; width: 480px;height: 280px;text-align: right;">
        <form class="form-horizontal" ><table>
                <img src="{{ asset('bundles/assets/img/Login.png') }}" class="img-circle" style="margin-bottom: -70px;">
                <div class="control-group" ><tr>
                        <td><label class="control-label  label label-important" for="inputEmail" style="text-align: center">ایمیل</label></td>
                        <div class="controls">
                            <td><input type="email" id="inputEmail" placeholder="ایمیل"></td><td><i class="icon-user"></i></td>
                        </div>
                    </tr></div>
                <div class="control-group"><tr>
                        <td><label class="control-label label label-important" for="inputPassword" style="text-align: center">گذرواژه</label></td>
                        <div class="controls">
                            <td> <input type="password" id="inputPassword" placeholder="گذرواژه"></td><td><i class="icon-qrcode"></i></td>
                        </div>
                    </tr></div>
                <div class="control-group"><tr>
                        <div class="controls">
                            <td><label class="checkbox label label-important">
                                    <input type="checkbox"> مرا به خاطر بسپار
                                </label></td></tr>
                    <tr><td style="position: absolute; margin-right: 170px;"><button type="submit" class="btn btn-large btn-primary" >ورود</button></td></tr>
                </div>
    </div></table>
    </form>
    </div>
{% endblock %}