{% set parent="" %}
{% if is_granted("ROLE_ADMIN") %}
    {% set parent= 'HotelreserveBundle::layout_admin.html.twig' %}
{% elseif is_granted("ROLE_HOTELDAR") %}
    {% set parent= 'HotelreserveBundle::layout_hotel.html.twig' %}
{% elseif is_granted("ROLE_AGENCY") %}
    {% set parent= 'HotelreserveBundle::layout_reserve.html.twig' %}
{% endif  %}
{% extends parent %}
{% block content -%}
    <section class="container " style="width: 95%; margin-top: 20px; margin-bottom: 40px;">
        <div class="span12 responsive" data-tablet="span12 fix-margin" data-desktop="span12">
            <div class="" style="border: 1px solid #0c8b44;display: block;">
                <div class="" style="background: #0c8b44;height: 36px;display: block;">
                    <span class=""
                          style="float: right;margin: 2px 0 0;padding: 6px 5px 6px 10px; margin-right: 5px; color: #fff; font-size: 14px;">
                            <a href="" class=" icon-th-large"></a>
                            <a href="" class="icon-chevron-left"></a> <strong>
                            جستجو بر اساس پارامترهای - سوابق رزرو - اطلاعات صورت حساب
                        </strong>
                    </span>
                </div>
                <div class="" style="display: block;padding: 25px 15px;">
                    <div class="">
                        <table class="table table-condensed" style="width: 100%;">


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}